.button-filled {
    border-radius: var(--md-sys-shape-corner-full);
    height: 40px;
    background-color: var(--md-sys-color-primary);
    color: var(--md-sys-color-on-primary);
    padding: 0 24px 0 24px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}