.primary-container {
    background: var(--md-sys-color-primary-container) !important;
    color: var(--md-sys-color-on-primary-container) !important;
}


.secondary-container {
    background: var(--md-sys-color-secondary-container) !important;
    color: var(--md-sys-color-on-secondary-container) !important;
}


.tertiary-container {
    background: var(--md-sys-color-tertiary-container) !important;
    color: var(--md-sys-color-on-tertiary-container) !important;
}


.surface-container {
    background: var(--md-sys-color-surface-container) !important;
    color: var(--md-sys-color-on-surface-container) !important;
}


.surface-variant-container {
    background: var(--md-sys-color-surface-variant) !important;
    color: var(--md-sys-color-on-surface-variant) !important;
}