:host {
  display: block;
}

.mobile-container {
  width: 100vw;
  height: 100vh;
  background-color: #1a1a1a;
  overflow: hidden;
}

.mobile-container-content {
  padding: 0;
  margin: auto;
  max-width: 400px;
  height: 100%;
  background-color: var(--md-sys-color-surface-container);
  overflow-y: auto;
  -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
  scrollbar-width: none; /* Hide scrollbar for Firefox */
  -webkit-overflow-scrolling: touch; /* Enables smooth scrolling on iOS */
  overscroll-behavior: none; /* Prevents pull-to-refresh */
}

.mobile-container-content::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}
