.primary-container {
  background: var(--md-sys-color-primary-container);
  color: var(--md-sys-color-on-primary-container);
}

.secondary-container {
  background: var(--md-sys-color-secondary-container);
  color: var(--md-sys-color-on-secondary-container);
}

.tertiary-container {
  background: var(--md-sys-color-tertiary-container);
  color: var(--md-sys-color-on-tertiary-container);
}

.default-container {
  background: var(--md-sys-color-surface-container);
  color: var(--md-sys-color-on-surface-container);
}

.surface-container {
  background: var(--md-sys-color-surface-container);
  color: var(--md-sys-color-on-surface-container);
}

.surface-variant-container {
  background: var(--md-sys-color-surface-variant);
  color: var(--md-sys-color-on-surface-variant);
}
